# فیلتر کردن فایل‌های موقت و کش پایتون
__pycache__/
*.pyc
*.pyo
*.pyd

# فیلتر کردن فایل‌های محیط مجازی (اگر با مینی‌کندا داخل پوشه پروژه ساخته شده باشد)
.venv/
venv/
env/

# فیلتر کردن فایل‌های موقت سیستم‌عامل
.DS_Store
Thumbs.db

# فیلتر کردن فایل‌های تنظیمی ادیتورها (مثل VS Code)
.vscode/
.idea/